<h3>Contacts et lien utiles </h3>

<div >
  <ul>
    <li class="liSansPuce"><a class="btn btn-lg btn-info" href="{{json.lien.url_facebook}}">Ma page Facebook.</a></li><br />
    <li class="liSansPuce"><a class="btn btn-lg btn-info" href="{{json.lien.url_youtube}}">Ma page youtube.</a></li><br />
    <li class="liSansPuce"><a class="btn btn-lg btn-info" href="mailto:{{json.lien.email[0]}}">Mon email perso.</a></li><br />
    <li class="liSansPuce"><a class="btn btn-lg btn-info" href="mailto:{{json.lien.email[1]}}">Mon email pro.</a></li><br />
  </ul>
</div>

