<h3>Formation :</h3>


<div class="panel panel-default" ng-repeat="cursu in json.CV.cursus_scolaire">
  <div class="panel-body">
    <p>{{cursu.annee_d}} - {{cursu.annee_f}}<p/>
    <ul>
      <li>{{cursu.description}}</li>
      <li>{{cursu.option}}</li>
      <li>{{cursu.resultat}}</li>
    </ul>
  </div>
</div>


<h3>Compétence :</h3>
<div class="list-group">
  <li class="list-group-item list-group-item-info" ng-repeat="comp in json.CV.competance">
    <p>{{comp}}</p>
  </li>
</div>



<h3>Langues :</h3>

<div class="panel panel-default">
  <div class="panel-body">
    <p>{{json.CV.langues[0]}}</p>

  </div>
</div>
