<div>

    <h3>Mes projet</h3>

    <ul class="list-group">

      <li class="list-group-item" ng-repeat="proj in json.projet">

        <h5 >{{proj.annee_d}} - {{proj.annee_f}}</h5>
        <ul>
          <li class="liSansPuce" >
            <div class="list-group">
              <div class="list-group-item" >
                <h4 class="list-group-item-heading">Nom</h4>
                <p class="list-group-item-text">{{proj.nom}}</p>
              </div>

            </div>
          </li>
          <li class="liSansPuce" >
            <div class="list-group">
              <div class="list-group-item">
                <h4 class="list-group-item-heading">En court</h4>
                <p class="list-group-item-text">{{proj.en_court}}</p>
              </div>
            </div>
          </li>
          <li class="liSansPuce" >
            <div class="list-group">
              <div class="list-group-item">
                <h4 class="list-group-item-heading">Description</h4>
                <p class="list-group-item-text">{{proj.description}}</p>
              </div>
            </div>
          <li class="liSansPuce" >
            <div class="list-group">
              <div class="list-group-item">
                <h4 class="list-group-item-heading">Site</h4>
                <p class="list-group-item-text"><a href="{{proj.site}}">Le site</a></p>
              </div>
            </div>
            </li>
        </ul>

      </li>

    </ul>

    <div id="callout-navbar-overflow" class="bs-callout bs-callout-warning">

    <h4 id="overflowing-content"></h4>
    <p></p>
    <ol type="a"></ol>

  </div>
</div>


<div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="..." alt="...">
    </a>
  </div>
  ...
</div>
