
<div class="jumbotron">
  <h3>{{json.CV.prenom}} {{json.CV.nom}} </h3>

  <p>{{json.CV.date_de_naisssance}}</p>




</div>

<div class="panel panel-default">
  <div class="panel-body">
    <h3>Mon objectif</h3>
    <p>{{json.CV.objectif}}</p>
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-body">
    <h4>Ma bio</h4>
    <p>{{json.CV.biographie}}</p>
  </div>
</div>



<div class="panel panel-default">
  <div class="panel-body">
    <h4>Mes Experiences professionnels</h4>
    <ul>
      <li ng-repeat="exp in json.CV.experience_professionnel">
        <p>{{exp.annee_d}} - {{exp.annee_f}}</p>
        <ul>
          <li>{{exp.entreprise}}</li>
          <li>{{exp.description}}</li>
        </ul>
      </li>
    </ul>
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-body">
    <h3>Mes centres d'interets</h3>
    <ul>
      <li ng-repeat="int in json.centre_interet">{{int}}</li>
    </ul>
  </div>
</div>


