
<div class="jumbotron">
  <h3>{{json.CV.prenom}} {{json.CV.nom}} </h3>

  <p>{{json.CV.date_de_naisssance}}</p>




</div>

<div class="panel panel-default">
  <div class="panel-body">
    <h4>Mon objectif</h4>
    <p>{{json.CV.objectif}}</p>
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-body">
    <h4>Ma bio</h4>
    <p>{{json.CV.biographie}}</p>
  </div>
</div>



<div class="panel panel-default">
  <div class="panel-body">
    <h4>Mes Experiences professionnels</h4>
    <ul>
      <li class="liSansPuce" ng-repeat="exp in json.CV.experience_professionnel">
        <p>{{exp.annee_d}} - {{exp.annee_f}}</p>
        <div class="list-group">
          <div class="list-group-item" >
            <h4 class="list-group-item-heading">Entreprise</h4>
            <p class="list-group-item-heading">{{exp.entreprise}}</p>
            <br />
            <h4 class="list-group-item-heading">Description du poste</h4>
            <p class="list-group-item-heading">{{exp.description}}</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>



<div class="panel panel-default">
  <div class="panel-body">
    <h3>Mes centres d'interets</h3>
    <div class="row">
      <p class="col-md-4" ng-repeat="int in json.centre_interet">{{int}}</p>
    </div>
  </div>
</div>


